dbproject
._*
.~lock.*
.vagrant
application/configs/db.ini
application/configs/rsss.ini
application/configs/cloud_creds.ini
.buildpath
.project
.settings
.zfproject.xml
logs
rs_selfservice.tmproj
application/proxies/*.php
*.iml
*.ipr
*.iws
vendor
.idea
.release_config
.DS_Store
*.zpk
*.depl.properties
rs_vagrant_shim
runlists/centos/default.json
runlists/centos/setup_rsss.json
