[submodule "public/js/vendor/livereload-js"]
	path = public/js/vendor/livereload-js
	url = https://github.com/livereload/livereload-js.git
[submodule "cookbook/rsss"]
	path = cookbook/rsss
	url = https://github.com/rgeyer-rs-cookbooks/rsss.git
