<phpunit bootstrap="./bootstrap.php"
         colors="false"
         stopOnFailure="false"
         verbose="true">
    <php>
      <env name="APPLICATION_ENV" value="testing" />
    </php>
    <!--<testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>-->
    <testsuite name="Library Test Suite">
        <directory suffix="Test.php">./library/</directory>
    </testsuite>
    
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
    </filter>
</phpunit>
