@CHARSET "UTF-8";

form {
	margin: 0 auto;
	width: 600px;
	padding: 10px;
}

label {
	display: block;
	width: 140px;
	text-align: right;
	float: left;
	font-weight: bold;
}

input {
	float: left;
	width: 400px;
	/*margin: 2px 0 20px 10px;*/
}

div.server {
  clear: both;
  height: 40px;
  width: 40px;
}

div.server > img.state {
  width: 16px;
  height: 16px;
  top: -24px;
  right: -16px;
  position: relative;
}

div.server > img.operational {
  background: transparent url('/images/16check.png') no-repeat center;
}

div.server > img.booting,
div.server > img.pending
{
  background: transparent url('/images/16up.png') no-repeat center;
}

div.server > img.stranded {
  background: transparent url('/images/16warning_triangle.png') no-repeat center;
}

div.server > img.decommissioning {
  background: transparent url('/images/16down.png') no-repeat center;
}