<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
  <php>
        <env name="APPLICATION_ENV" value="testing" />
  </php>
    <testsuites>
        <testsuite name="rs_selfservice">
            <directory>./</directory>
            <exclude>./SelfService/Helpers.php</exclude>
            <exclude>./SelfService/Service/ProvisioningHelperTest.php</exclude>
        </testsuite>
    </testsuites>
  <filter>
    <blacklist>
      <directory>./../../../vendor</directory>
    </blacklist>
  </filter>
</phpunit>
